@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-serif-bold-mobile {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.primary-color{
    color: #E95A08;
}













/* navbar section  */

.navbar-container{
    width: 1140px;
    height: 70px;
    margin: auto 150px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-section-container{
    gap: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-list-container ul{
    display: flex;
    width: 410px;
    gap: 40px;
    align-items: center;
    list-style: none;
}


/* banner container  */

.banner-container{
    width: 1140px;
    display: flex;
    margin: 120px 150px;
    justify-content: center;
    align-items: end;

}


/* our plants container  */

.plants-container{
    width: 1140px; 
    margin: 120px 150px;
    
}



.plants-title-container{
    justify-items: center;
    margin-bottom: 30px;
}








.item-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    justify-items: center;
}



.card{
    width: 270px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-cart{
    width: 270px;
    height: 50px;
    border: none;
    background-color: #E95A08;
    color: white;
}


/* plants lover section  */

.plants-lover-container{
    width: 1140px;
    margin: 0px 150px;
    display: flex;
    gap: 60px;
    justify-content: flex-start;
}

.plant-lover-para{
    margin-bottom: 20px;
}

/* join section  */
body{
    margin: 0px;

}

.background-img-container{
    width: 100%;
    height: 530px;
    margin-top: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    background-image: url('assets/news-letter-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.input-measure{
    width: 600px;
    height: 30px;
    border: none;
}

.btn-measure{
    width: 170px;
    padding: 8px;
    background-color: #E95A08;
    color: white;
    border: none;
}



/* footer section  */

.footer-container{
    width: 1140px;
    margin: 20px 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
}

.icon-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
}

.footer-list-manage{
    list-style: none;
}


.footer-list-para{
    margin-bottom: 20px;
}




































@media screen and (max-width: 576px) {

    /* navbar section  */

    .navbar-container, .nav-list-container ul{
        width: 100%;
    }

    .nav-list-container{
        width: 100%;
        padding: 0px;
    }

    .nav-list-container ul{
        padding: 0px;
    }
    .navbar-container{
        margin: 0px;
    }
    .navbar-section-container{
        gap: 50%;
        padding: 0px;
    }

    .cart-icon{
        width: 110px;
    }

    .nav-list-container ul li:nth-child(-n+3){
        display: none;
    }



    /* banner section  */
.banner-container{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 60px auto;
}

.noto-serif-bold{
    font-size: 30px;
}

.title-container{
    width: 90%;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;

}

.img-container img{
    width: 90%;
}


/* our plants section  */


.plants-container{
    width: 100%;
    margin: 0px auto;
}


.item-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.card{
    width: 170px;   
}

.card img{
    width: 170px;
}

.btn-cart{
    width: 170px;
}

/* plants lover section  */

.plants-lover-container{
    width: 100%;
    flex-direction: column;
    margin: 40px auto;
}




.plant-img-container img{
    width: 100%;
}

/* join section  */

.input-measure{
    width: 320px;
    height: 30px;
    border: none;
}

.noto-serif-bold-mobile{
    font-size: 20px;
}
.join-title{
    width: 250px;
}

.input-measure{
    width: 210px;
}

.btn-measure{
    width: 100px;
}

/* footer section  */

.footer-container{
    width: 90%;
    flex-direction: column;
    gap: 0px;
    margin: 20px auto;
}

.footer-list-manage{
    padding-left: 0px;
}



































}